<!-- CTA Section -->
<section>
  <div class="cta-section grid place-items-center p-8">
    <p class="text-5xl text-txt-dark lg:text-6xl">Get started with</p>
    <p class="text-5xl text-txt-dark lg:text-6xl">
      <span
        class="bg-gradient-to-r from-blue-300 to-prim-400 bg-clip-text text-transparent"
        >PaRA</span
      >
      today
    </p>
    <div class="btn mt-8 inline-block rounded-md bg-prim-400 px-10">
      <p class="lg:text-lg">
        <span class="font-bold">Sign up</span> - it's free
      </p>
    </div>
  </div>
</section>
