<!-- Feature Section -->
<section>
  <div class="feature-section p-16">
    <div class="border-lg shadow-md">
      <ul
        class="flex flex-col items-center justify-center gap-16 p-12 md:flex-row"
      >
        <li>
          <svg class="icon mx-auto mb-8">
            <use xlink:href="./assets/icons.svg#shield-checkmark-outline"></use>
          </svg>
          <h3 class="font-bold capitalize">Safety</h3>
          <p class="text-txt-light">
            Helps you to ensure your safety by avoiding waiting outside.
          </p>
        </li>
        <li>
          <svg class="icon mx-auto mb-8">
            <use xlink:href="./assets/icons.svg#checkmark-done-outline"></use>
          </svg>

          <h3 class="font-bold capitalize">Convenient</h3>
          <p class="text-txt-light">
            The combination of the power of internet and SMS makes it easy to
            stay connected and informed on the go.
          </p>
        </li>

        <li>
          <svg class="icon mx-auto mb-8">
            <use xlink:href="./assets/icons.svg#time-outline"></use>
          </svg>

          <h3 class="font-bold capitalize">Efficient</h3>
          <p class="text-txt-light">
            Saves you more time and improve efficiency by avoiding idle.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
