<!-- Hero Section -->
<section>
  <div
    class="hero-section mt-28 grid place-items-center gap-4 lg:mt-8 lg:grid-cols-2"
  >
    <!-- Content -->
    <div class="space-y-4">
      <h1 class="normal-case lg:text-left lg:text-5xl">
        Jeepney rides made easy
      </h1>
      <p class="text-txt-light lg:text-left lg:text-lg">
        With the passenger real-time alert application, finding and riding a
        jeepney has never been easier. By using the app to track the location of
        nearby jeepneys, you can save time and effort waiting at the roadside.
      </p>
      <div class="flex justify-center gap-4 pt-6 lg:justify-start">
        <a
          href="/"
          class="btn whitespace-nowrap rounded-full font-medium transition md:px-12 md:py-4"
          >Sign up</a
        >
        <a
          href="/"
          class="btn rounded-full border-2 border-black bg-white text-black transition hover:border-prim-400 hover:bg-prim-400 hover:text-white md:px-12 md:py-4"
          >Explore</a
        >
      </div>
    </div>
    <!-- Image -->
    <div class="">
      <img src="./assets/img/hero-img.webp" alt="Image of a jeep" />
    </div>
  </div>
</section>
