<!-- Menu Section -->
<div
  class="menu disable fixed top-0 right-0 z-0 grid h-screen w-1/2 place-items-center bg-prim-400 text-white lg:hidden"
>
  <ul class="flex flex-col items-center justify-center gap-8">
    <li class="group">
      <a class="group-hover:text-shadow" href="/">Research</a>
    </li>
    <li class="group">
      <a class="group-hover:text-shadow" href="/">Developers</a>
    </li>
    <li class="group">
      <a class="group-hover:text-shadow" href="/">About</a>
    </li>
  </ul>
</div>
