@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-center text-4xl font-bold uppercase;
  }
  h2 {
    @apply text-center text-3xl font-bold uppercase;
  }

  h3 {
    @apply text-center text-2xl font-bold uppercase;
  }

  p {
    @apply text-center;
  }
}

@layer components {
  .btn {
    @apply bg-prim-400 px-8 py-3 text-white hover:bg-prim-200;
  }
}

@layer utilities {
  .icon {
    @apply h-24 w-24;
  }

  .icon-circle {
    @apply rounded-full border-4 p-4;
  }

  .text-shadow {
    text-shadow: 1px 1px 5px white;
  }
}

[class*='-section'] {
  @apply mx-auto mb-32 max-w-7xl px-6 md:px-12;
}

.nav,
.footer {
  @apply mx-auto max-w-7xl p-6 md:px-12;
}

* {
  @apply font-body;
}

/* One page scrolling */

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

/* Menu button */

.menu-btn {
  width: 24px;
  height: 24px;
  position: relative;
}

.top,
.mid,
.bot {
  position: absolute;
  height: 3px;
  width: 24px;
  top: 50%;
  transform: rotate(0deg);
  transition: all 150ms ease-in;
}

.top {
  transform: translateY(-8px);
}

.bot {
  transform: translateY(8px);
}

[data-open] {
  transform: rotate(90deg);
  transition: all 150ms ease-in;
}

[data-open] .top {
  transform: rotate(45deg);
}

[data-open] .bot {
  transform: rotate(-45deg);
}

[data-open] .mid {
  display: none;
}

/* Menu */

.disable {
  @apply pointer-events-none invisible opacity-0 transition-all duration-300 ease-in;
}
.enable {
  @apply pointer-events-auto visible opacity-100 transition-all duration-300 ease-in;
}
